<h1>Cheque Book Requests</h1>

<body style="color: white;">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Request Id</th>
			<th>User Name</th>
			<th>Contact Number</th>
			<th>Account Number</th>
			<th>Confirmed?</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let chequeBookRequest of chequeBookRequestList" >
			<td>{{chequeBookRequest.id}}</td>
			<td>{{chequeBookRequest["user"]["fullname"]}} {{chequeBookRequest["user"]["surname"]}}</td>
			<td>{{chequeBookRequest["user"]["phonenumber"]}}</td>
			<td>{{chequeBookRequest["user"]["primaryAccount"]["accountNumber"]}}</td>
			<td> <p *ngIf="chequeBookRequest['accepted']" > Confirmed</p>
				<p *ngIf="!chequeBookRequest['accepted']" > Pending</p>
			</td>

			<td [hidden]="chequeBookRequest.confirmed"><a *ngIf="!chequeBookRequest['accepted']" (click)="confirmChequeBookRequest(chequeBookRequest.id)" style="cursor: pointer;">Confirm</a></td>
			<!-- <td [hidden]="!user.enabled"><a (click)="disableUser(user.username)" style="cursor: pointer;">Disable</a></td> -->
		</tr>
	</tbody>
</table>   
</body>