  <div class="wrapper">
    <form class="form-signin" (ngSubmit)="onSubmit()" [hidden]="loggedIn">       
      <h2 class="clean-font" style="text-align: center;">Admin Login</h2>
      <p class="lead" style="color:gray;">Login with your credentials</p>
      <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" name="username" required autofocus="" />
      <br />

      <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required /> 
      <div class="form-group">     
      <br/>
      <label >
         <input type="checkbox" name="remember-me" id="remember-me" />&nbsp;<span class="clean-font">Remember me</span>
      </label>
      </div>
      <button class="btn btn-success center-block btn-lg" type="submit">Login</button> 
      <br>
        <label style="color: black;" *ngIf="invalidCred">Invalid credentials.</label>
    </form>
  
  </div>

    <div [hidden]="!loggedIn">
      <div class="container text-center mt-15">
         
              <i class="fa-solid fa-user-tie fa-5x"></i><br>
              <h2>Welcome to Admin Portal!</h2>
           
       
      </div>
    </div>
 

