.account{
    margin:7%;
    color: black;
}

.span{
    font-size: 1.5em;
}
.profile .card-header {
    font-size: 2em;
    text-align: center;
    padding: 0%;
   }
.profile-pic{
    width:50%;
    height:50%;
    margin-top: 10%;
    padding: 0%;
}


.profile{
    width: 100%;
}