<div class="signup-form">
    <form [formGroup]="loginForm">
		<h2>Login</h2>
		<p>Login with your credentials to start exploring our digital services</p>
        <hr>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user"></span>
					</span>                    
				</div>
				<input type="text" class="form-control" name="email" placeholder="Email address" required="required" formControlName="email" [ngClass]="{ 'is-invalid': submitted &&  f.email.errors }" >
				<div *ngIf="f.email.errors" class="invalid-feedback">
					<div *ngIf="f.email.errors.required">    <p class="alert alert-warning mt-2" >Email is required</p>  </div>
					<div *ngIf="f.email.errors.email"> <p class="alert alert-warning mt-2" >Email must be a valid email address</div>
				</div>
			</div>
			
        </div>
        <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
					</span>                    
				</div>
				<input type="password" class="form-control" name="password" placeholder="Password" required="required" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
				<div *ngIf="f.password.errors" class="invalid-feedback">
					<div *ngIf="f.password.errors.required">    <p class="alert alert-warning mt-2" >Password is required</p>  </div>
			</div>
			</div>
        </div>
        <div class="form-group">
            <button type="button" id="loginButton" class="btn btn-primary btn-lg float-center" (click)="validateLogin()">Login</button>
        </div>
     
    </form>
</div>
	<div class="text-center ">New user? <a href="#" class="text-white" routerLink="/register">Register Now</a></div>

