  <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
      <a class="navbar-brand"  href="user/home">
        <i class="fa fa-university" aria-hidden="true"></i>
        Online Banking
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto text-white">
          <li class="nav-item  ml-2" *ngIf="service.isUserLogin()">
            <a class="nav-link" routerLink="user/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        <li class="nav-item dropdown" *ngIf="service.isUserLogin()">
          <a class="nav-link dropdown-toggle ml-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Accounts
          </a>
          <div class="dropdown-menu bg-light " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="handleAccount('Primary')">Primary</a>
            <a class="dropdown-item" (click)="handleAccount('Saving')">Saving</a>
          </div>
        </li>
        <li class="nav-item " *ngIf="service.isUserLogin()"  >
          <a class="nav-link  ml-2" (click)="handleTransferFundRequest('Primary Account')" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Transfer
          </a>
        
        </li>
        <li class="nav-item dropdown" *ngIf="service.isUserLogin()">
          <a class="nav-link dropdown-toggle ml-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="chequebookRequestLink">
            Request
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="handleChequeBookRequest('Primary Account')" id="chequebookRequestPrimary">Chequebook for Primary Account</a>
            <a class="dropdown-item" (click)="handleChequeBookRequest('Saving Account')" id="chequebookRequestSaving">Chequebook for Saving Account</a>
          </div>
        </li>
      </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!service.isUserLogin()">
            <a class="nav-link" routerLink="/login" (click)="isView()">Login</a>
          </li>
          <li class="nav-item" *ngIf="!service.isUserLogin()">
            <a class="nav-link" routerLink="/register" (click)="isView()">Sign Up</a>
          </li>
          <li class="nav-item dropdown" *ngIf="service.isUserLogin()">
            <a class="nav-link dropdown-toggle ml-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{service.getUserName()}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"(click)="viewProfile()" >View Profile</a>
              <a class="dropdown-item" (click)="handleLogout()" href="/home">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div *ngIf="view">
  <app-homepage></app-homepage>
</div>
