<div class="jumbotron bg-light text-dark p-10">
    <form [formGroup]="transferFundForm"> 
    <div class="form-group">
      <label for="accountType">Account Type</label>
      <select class="form-control" id="accountType" name="accountType" formControlName="accountType" (change)="onChange($event)">
        <option>Primary Account</option>
      </select>
    </div>
    <div class="form-group">
        <label for="accountBalance">Balance</label>
        <input type="text" class="form-control" readonly id="accountBalance" placeholder formControlName="balance" value="{{balanceFund}}">
      </div>
    <div class="form-group">
        <label for="beneficiaryName">Beneficiary Name</label>
        <input type="text" class="form-control"  id="beneficiaryName" fromControlName="beneficiaryName"   required="required" formControlName="beneficiaryName" [ngClass]="{ 'is-invalid': submitted && f.beneficiaryName.errors }" >
        <div *ngIf="f.beneficiaryName.errors" class="invalid-feedback">
            <div *ngIf="f.beneficiaryName.errors.required">    <p class="alert alert-warning mt-2" >Beneficiary Name is required</p>  </div>
    </div>
        

      </div>
      <div class="form-group">
        <label for="beneficiaryAccountNumber">Beneficiary's Account Number</label>
        <input type="text" class="form-control"  id="beneficiaryAccountNumber" formControlName="beneficiaryAccountNumber" 
        [ngClass] = "{'is-invalid':submitted && f.beneficiaryAccountNumber.errors}" >
        <div *ngIf="f.beneficiaryAccountNumber.errors" class="invalid-feedback">
            <div *ngIf="f.beneficiaryAccountNumber.errors.required">
                <p class="alert alert-warning mt-2">Beneficiary's Account Number is required!!</p> 
            </div>
        </div>
      </div>
      <div class="form-group">
        <label for="beneficiaryIFSCCode">Beneficiary IFSC Code</label>
        <input type="text" class="form-control"  id="beneficiaryIFSCCode" formControlName="beneficiaryIFSCCode"
        [ngClass]= "{'is-invalid':submitted && f.beneficiaryIFSCCode.errors}">
        <div *ngIf="f.beneficiaryIFSCCode.errors" class="invalid-feedback">
            <div *ngIf="f.beneficiaryIFSCCode.errors.required">
               <p class="alert alert-warning  mt-2">Beneficiary's IFSC code is required!!</p>
             </div>
        </div>
      </div>
      <div class="form-group">
        <label for="amountToBeTransfered">Amount to be transferred</label>
        <input type="number" class="form-control"  id="amountToBeTransfered" formControlName="amountToBeTransfered" 
        [ngClass]="{'is-invalid':submitted && f.amountToBeTransfered.errors}">
        <div *ngIf="f.amountToBeTransfered.errors" class="invalid-feedback">
            <div *ngIf="f.amountToBeTransfered.errors.required">
                <p class="alert alert-warning mt-2">Amount is required</p>
            </div>
        </div>
      </div>
      <div class="form-group">
        <label for="transferType">Transfer Type</label>
        <select class="form-control" id="accountType" name="transferType" formControlName="transferType">
          <option>IMPS</option>
          <option>NEFT</option>
          <option>RTGS</option>
        </select>
      </div>
    <div class="form-group">
      <label for="Description">Optional Message</label>
      <textarea class="form-control" id="description" rows="1" formControlName="optionalMessage"></textarea>
    </div>
    <button type="button" class="btn btn-primary" id="tranferFundButton" (click)="handleTransferFund()">Transfer Funds</button>
  </form>
</div>

