
<div class="signup-form">
    <form [formGroup]="contactForm"> 
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
        <hr>
        <router-outlet>
  
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-paper-plane"></i>
            </span>                    
        </div>
        <input type="email" class="form-control" name="email" placeholder="Email Address" required="required" formControlName="email" [ngClass]="{ 'is-invalid':  f.email.errors }" >
        <div *ngIf="f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">    <p class="alert alert-warning mt-2" >Email is required</p>  </div>
            <div *ngIf="f.email.errors.email"> <p class="alert alert-warning mt-2" >Email must be a valid email address</div>
        </div>

    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-mobile" ></i>
            </span>                    
        </div>
        
        <input type="text" formControlName="phone" name="phone" class="form-control" [ngClass]="{ 'is-invalid': f.phone.errors }"  />
                        <div *ngIf="f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required"><p class="alert alert-warning mt-2" >Mobile number is required </p></div>
                            <div *ngIf="f.phone.errors.minlength"> <p class="alert alert-warning mt-2" > Mobile number must be of 10 characters </p></div>
                            <div *ngIf="f.phone.errors.pattern"> <p class="alert alert-warning mt-2" > Only numbers are allowed</p></div>
                        </div>
        
    </div>

</div>
  
<div class="form-group">
    <button type="button" class="btn btn-primary btn-md m-4 float-right d-block" id="next" (click)="validateContactDetails()">Next</button>
</div>

<div class="form-group">
    <label class="form-check-label"></label>
</div>

</router-outlet>


</form>
<div class="text-center ">Already have an account? <a href="#" class="text-white" routerLink="/login">Login here</a></div>

</div>
