<div class="jumbotron bg-light text-dark p-10">
    <form [formGroup]="chequeBookRequestForm"> 
    <div class="form-group">
      <label for="accountType">Please select your account type</label>
      <select class="form-control" id="accountType" name="accountType" formControlName="accountType">
        <option>Primary Account</option>
        <option>Saving Account</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Description">Optional Description</label>
      <textarea class="form-control" id="description" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="handleChequebookRequest()">Submit Request</button>
  </form>
</div>
