<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="account-container">
                
                        <div class="top-section">
                            <div class="balance float-right">
                                {{primaryAccountBalance}} Rs
                            </div>
                            <div class="account type">
                                Primary Account
                            </div>
                        </div>
                        <hr class="solid">
                        <div class="bottom-section" id="viewPrimaryAccountDetails" (click)="handlePrimaryAccount()">
                            <div class="details float-right">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </div>
                            <div>
                                View Details
                            </div>
                        </div>
                       
                
              </div>
                <br>
                <div class="account-container">
                
                    <div class="top-section">
                        <div class="balance float-right">
                            {{savingAccountBalance}} Rs
                        </div>
                        <div class="account type">
                            Saving Account
                        </div>
                    </div>
                    <hr class="solid">
                    <div class="bottom-section" id="viewSavingAccountDetails" (click)="handleSavingAccount()" >
                        <div class="details float-right">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </div>
                        <div>
                            View Details
                        </div>
                    </div>
                   
            
          </div>
        </div>
        <br>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                  <div class="transaction">
                        <div class="top-section">
                            <span class="float-right">Deposit</span>
                            <i class="fa fa-credit-card" aria-hidden="true"></i>

                        </div>
                        <hr>
                        <div class="bottom-section" (click)="handleDeposit('Primary Account')" id="depositFundSection">
                            <div class="details float-right">
                                <i class="fa fa-arrow-right" aria-hidden="true" ></i>
                            </div>
                            <div>
                                Go to deposits
                            </div>
                        </div>
                </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                          <div class="transaction">
                                <div class="top-section">
                                    <span class="float-right">Withdrawal</span>
                                    <i class="fa fa-money" aria-hidden="true"></i>

        
                                </div>
                                <hr>
                                <div class="bottom-section"(click)="handleWithdraw('Primary Account')" id="withdrawFudSection" >
                                    <div class="details float-right">
                                        <i class="fa fa-arrow-right" aria-hidden="true" ></i>
                                    </div>
                                    <div>
                                        Go to Withdrawal
                                    </div>
                                </div>
                        </div>
                        </div>
                </div>
        </div>
             
              
                            
        </div>
    </div>
</div>